body {
	margin: 0;
	padding: 0;
}

.left-container {
	position: fixed;
	width: 400px;
	height: 100vh;
	background-color: #8EA69B;
}
	
.photo-contact {
	position: absolute;
	top: 100px;
	text-align: center;
}

.photo {
	width: 60%;
	border-radius: 50%;
}

.contact-btn {
	width: 60%;
	background-color: whitesmoke;
	border-radius: 16px;
	margin-bottom: 16px;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 10px;
}

.contact-btn:hover {
	background-color: black;
	color: white;
	transition: 0.6s;
}

.right-container {
	position: absolute;
	left: 400px;
}

.top-bar {
	padding-top: 50px;
	padding-left: 100px;
}

.title {
	font-style: italic;
	font-size: 1.6rem;
}

.list-menu {
	float: right;
	padding-right: 50px;
}

.menu {
	font-size: 1.2rem;
	padding: 0 15px;
}

a {
	text-decoration: none;
	color: black;
}

#profile {
	padding-top: 100px;
	padding-left: 100px;
}

#about {
	padding-top: 0px;
	padding-left: 100px;
	padding-right: 50px;
}

#experience {
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 50px;
}

#achievements {
	padding-top: 0px;
	padding-left: 100px;
	padding-right: 50px;
}

#contact {
	padding-top: 15px;
	padding-left: 100px;
	padding-right: 50px;
}

#footer {
	padding-top: 160px;
	text-align: center;
}

p, li {
	line-height: 200%;
}